node-red/flows/example-flows.json
[
    {
        "id": "example-flows",
        "type": "tab",
        "label": "Example Flows",
        "disabled": false,
        "info": "Example automation flows for Boulder Home Automation"
    },
    {
        "id": "mqtt-broker",
        "type": "mqtt-broker",
        "name": "Boulder MQTT",
        "broker": "mosquitto",
        "port": "1883",
        "clientid": "nodered-boulder",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "nodered/status",
        "birthQos": "0",
        "birthPayload": "online",
        "birthMsg": {},
        "closeTopic": "nodered/status",
        "closeQos": "0",
        "closePayload": "offline",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "frigate-events",
        "type": "mqtt in",
        "z": "example-flows",
        "name": "Frigate Events",
        "topic": "frigate/events",
        "qos": "2",
        "datatype": "json",
        "broker": "mqtt-broker",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 120,
        "y": 100,
        "wires": [["process-detection", "log-to-postgres"]]
    },
    {
        "id": "process-detection",
        "type": "function",
        "z": "example-flows",
        "name": "Process Detection",
        "func": "// Parse Frigate detection event\nconst event = msg.payload;\n\n// Extract key information\nconst detection = {\n    camera: event.camera,\n    object: event.label,\n    confidence: event.score,\n    zone: event.zone || null,\n    timestamp: new Date(event.start_time * 1000),\n    snapshot: event.snapshot_url\n};\n\nmsg.detection = detection;\nmsg.payload = detection;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 100,
        "wires": [["detection-filter"]]
    },
    {
        "id": "detection-filter",
        "type": "switch",
        "z": "example-flows",
        "name": "High Confidence Only",
        "property": "detection.confidence",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gte",
                "v": "0.8",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 560,
        "y": 100,
        "wires": [["notify-detection"]]
    },
    {
        "id": "notify-detection",
        "type": "debug",
        "z": "example-flows",
        "name": "Detection Alert",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "detection",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 780,
        "y": 100,
        "wires": []
    },
    {
        "id": "log-to-postgres",
        "type": "function",
        "z": "example-flows",
        "name": "Log to PostgreSQL",
        "func": "// Prepare PostgreSQL insert\nconst event = msg.payload;\n\nmsg.topic = `\n    INSERT INTO frigate_detections \n    (camera_name, object_type, confidence, zone, snapshot_url, metadata)\n    VALUES ($1, $2, $3, $4, $5, $6)\n`;\n\nmsg.params = [\n    event.camera,\n    event.label,\n    event.score,\n    event.zone || null,\n    event.snapshot_url || null,\n    JSON.stringify(event)\n];\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 180,
        "wires": [["postgres-insert"]]
    },
    {
        "id": "postgres-insert",
        "type": "comment",
        "z": "example-flows",
        "name": "Install node-red-contrib-postgres",
        "info": "Use PostgreSQL node here",
        "x": 610,
        "y": 180,
        "wires": []
    },
    {
        "id": "mcp-api-snapshot",
        "type": "http in",
        "z": "example-flows",
        "name": "GET /api/camera/snapshot",
        "url": "/camera/snapshot",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 180,
        "y": 300,
        "wires": [["get-camera-snapshot"]]
    },
    {
        "id": "get-camera-snapshot",
        "type": "function",
        "z": "example-flows",
        "name": "Get Snapshot from Frigate",
        "func": "// Get camera_id from query params\nconst cameraId = msg.req.query.camera_id;\n\nif (!cameraId) {\n    msg.statusCode = 400;\n    msg.payload = {error: \"camera_id required\"};\n    return msg;\n}\n\n// Fetch latest snapshot from Frigate\nmsg.url = `http://frigate:5000/api/${cameraId}/latest.jpg`;\nmsg.method = \"GET\";\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 300,
        "wires": [["snapshot-response"]]
    },
    {
        "id": "snapshot-response",
        "type": "http response",
        "z": "example-flows",
        "name": "Return Snapshot",
        "statusCode": "",
        "headers": {},
        "x": 740,
        "y": 300,
        "wires": []
    },
    {
        "id": "mcp-api-trigger",
        "type": "http in",
        "z": "example-flows",
        "name": "POST /api/automation/trigger",
        "url": "/automation/trigger",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 190,
        "y": 380,
        "wires": [["trigger-automation"]]
    },
    {
        "id": "trigger-automation",
        "type": "function",
        "z": "example-flows",
        "name": "Execute Automation",
        "func": "// Get automation name from request body\nconst automation = msg.payload.automation;\n\nif (!automation) {\n    msg.statusCode = 400;\n    msg.payload = {error: \"automation name required\"};\n    return msg;\n}\n\n// Publish to MQTT to trigger automation\nmsg.topic = `automation/trigger/${automation}`;\nmsg.payload = {\n    triggered_at: new Date().toISOString(),\n    source: \"mcp_api\"\n};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 380,
        "wires": [["mqtt-publish", "api-response"]]
    },
    {
        "id": "mqtt-publish",
        "type": "mqtt out",
        "z": "example-flows",
        "name": "Publish Trigger",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "broker": "mqtt-broker",
        "nl": false,
        "rap": true,
        "x": 700,
        "y": 360,
        "wires": []
    },
    {
        "id": "api-response",
        "type": "function",
        "z": "example-flows",
        "name": "Success Response",
        "func": "msg.payload = {\n    success: true,\n    automation: msg.payload.automation,\n    triggered_at: new Date().toISOString()\n};\nmsg.statusCode = 200;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 700,
        "y": 400,
        "wires": [["http-response-trigger"]]
    },
    {
        "id": "http-response-trigger",
        "type": "http response",
        "z": "example-flows",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 900,
        "y": 380,
        "wires": []
    },
    {
        "id": "abode-sync",
        "type": "inject",
        "z": "example-flows",
        "name": "Sync Every 5min",
        "props": [],
        "repeat": "300",
        "crontab": "",
        "once": true,
        "onceDelay": "10",
        "topic": "",
        "x": 140,
        "y": 500,
        "wires": [["get-abode-status"]]
    },
    {
        "id": "get-abode-status",
        "type": "comment",
        "z": "example-flows",
        "name": "Use GARZA Home MCP API",
        "info": "Call GARZA Home MCP to get Abode status",
        "x": 380,
        "y": 500,
        "wires": []
    }
]